<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <form method="POST" enctype="multipart/form-data" action="/">
      <label>product image<input type="file" name="productImg" />
      <label>product name</label><input type="text" name="productname" />
      <label>category</label><input type="text" name="category" />
      <label>subcategory</label><input type="text" name="subcategory" />
      <label>description</label><input type="text" name="productdes" />
      <label>price</label><input type="number" name="price" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
